#Fav {
  color: var(--main-color);
  font-size: xx-large;
  border-style: none;
  padding: 0px;
  box-shadow: none;
  background: none;
}
#Fav:hover {
  animation: glow 1s forwards;
}

.img {
  box-shadow: 0px 0px 5px #804000;
  padding: 0px;
}
.img:hover {
  animation: glowImg 1s forwards;
}

.div_card {
  color: #d0d5d3;
  background: #804000;
  margin: 10px;
  margin-top: 30px;
  margin-bottom: 25px;
  height: 100%;
  border: 3px solid #d0d5d3;
}

.div_card:hover {
  transform: scale(1.1);
}

.name {
  text-shadow: 1px 0px 2px black;
}
.name:hover {
  animation: glowName 1s forwards;
}

@keyframes glow {
  100% {
    text-shadow: 0px 0px 20px var(--second-color);
  }
}

@keyframes glowImg {
  100% {
    box-shadow: 0px 0px 20px #804000;
  }
}

@keyframes glowName {
  100% {
    text-shadow: 0px 0px 20px black;
  }
}
