.custom_input {
  color: #0a0a0a;
  background-color: transparent;
  border-radius: 15px;
  border: 100%;
  border-color: #0a0a0a;
  font-family: inherit;
  font-size: large;
  cursor: pointer;
  width: 200px;
  height: 30px;

  margin-right: auto;
  margin-left: auto;
}
.custom_input:hover {
  color: rgb(255, 251, 44);
  color: #0a0a0a;
}

.custom_label {
  font-size: x-large;
  margin-left: 5px;
  margin-right: auto;
}

.div_custom {
  text-shadow: 1px 0px 10px #d0d5d3;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  min-height: 30vh;
  border: 15px solid #804000;
  background-color: #faea5c;
  background-size: cover;
  box-shadow: 0px 0px 10px #fee500;
  line-height: 20px;
}

.input {
}
