.custom_input {
  color: rgb(226, 242, 215);
  background-color: transparent;
  border-radius: 15px;
  border: 100%;
  border-color: rgb(251, 249, 118);
  font-family: inherit;
  font-size: large;
  cursor: pointer;
  width: 200px;
  height: 30px;
  margin-right: auto;
  margin-left: auto;
}
.custom_input:hover {
  color: rgb(255, 251, 44);
}

.custom_label {
  font-size: x-large;
  margin-left: auto;
  margin-right: auto;
}

.div_custom {
  background: rgb(35, 59, 63);
  border-radius: 15px;
  margin: 10px;
  width: fit-content;
  box-shadow: 0px 0px 5px #d0f181;
}
